.features {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.features-heading {
    flex: 2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: center;
    margin-right: 2rem;
}

.features-heading h1 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 48px;
    color: #0f3a91;
    padding: 40px 100px 0 100px;
}

.features-container {
    flex: 0.5;
    flex-direction: column; /* Change flex-direction to column on smaller screens */
}

.features-container > .Feature {
    display: flex;
    flex-direction: column;
    max-width: 100%; /* Fill available width */
    margin-bottom: 2rem; /* Add spacing between items */
}

.features-container .features-container__feature-title h1 {
    font-size: 18px; /* Adjust font size for smaller screens */
    line-height: 24px;
}

.features-container .features-container_feature-text p {
    font-size: 14px; /* Adjust font size for smaller screens */
    line-height: 24px;
}

@media screen and (max-width: 990px) {
    .features-heading {
        margin: 0 0 2rem 0;
    }
}

@media screen and (max-width: 550px) {
    .features-heading h1 {
        font-size: 28px;
        line-height: 38px;
    }

    .features-container .features-container__feature-title h1 {
        font-size: 14px;
        line-height: 22px;
    }

    .features-container .features-container_feature-text p {
        font-size: 12px;
        line-height: 20px;
    }

    .features-container .features-container__feature {
        margin: 1rem 0;
    }
}
